<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forest</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1> {{ message }}</h1>
    <div>
        <!--<a id="Deeper" href="{{ url_for('deep-forest') }}" class="btn">Go Deeper</a>
        <a id="Dagger" href="{{ url_for('find-dagger') }}" class="btn">Find Dagger</a>
        <a id="Return" href="{{ url_for('index') }}" class="btn">Return To Clearing</a>
        <a id="Listen" href="{{ url_for('forest-listen') }}" class="btn">Listen Quietly</a>-->

    </div>
</body>
</html>