<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beef and pork</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<header id="header">
    <nav>
    <a href="/">Home</a>
    <a href="/Breakfast">Breakfast</a>
    <a href="/Beef-and-pork">Beef & Pork</a>
    <a href="/Chicken-and-fish">Chicken & Fish</a>
    <a href="/Salads">Salads</a>
    <a href="/Snacks-and-sides">Snacks & Sides</a>
    <a href="/Desserts">Desserts</a>
    <a href="/Beverages">Beverages</a>
    <a href="/Coffee-and-tea">Coffee & Tea</a>
    <a href="/Smoothies-and-shakes">Smoothies & Shakes</a>
    </nav>
</header>
<body>

</body>
</html>