<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Desserts</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<header id="header">
<div class = nav-links>
    <nav>
        <a href="/">Home</a>
        <a href="/Breakfast">Breakfast</a>
        <a href="/Beef-and-pork">Beef & Pork</a>
        <a href="/Chicken-and-fish">Chicken & Fish</a>
        <a href="/Salads">Salads</a>
        <a href="/Snacks-and-sides">Snacks & Sides</a>
        <a href="/Desserts">Desserts</a>
        <a href="/Beverages">Beverages</a>
        <a href="/Coffee-and-tea">Coffee & Tea</a>
        <a href="/Smoothies-and-shakes">Smoothies & Shakes</a>
    </div>
    <div class = "search-container">
            <input type = "text" placeholder="Search...">
            <button>Go</button>
        </div>
    </nav>
</header>
<body>
    <h1>Desserts</h1>
    <p>{{categories}}</p>
</body>
</html>