h1 {
    color: yellow;
}
body {
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
}

/* gives a colored background & padding */
header {
    background-color: #DA291C;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

/* Uses flexbox to arrange links horizontally (and wrap if screen is small) */
nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Styled links with padding, rounded corners, and hover effects */
nav a {
  text-decoration: none;
  color: yellow;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
  background-color: yellow;
  color: #c62828;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
 /*   position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;*/
}

.search-container input {
    width: 250px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.search-container button {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    background-color: #FFD700;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #F4C430;  /* darker on hover */
}